<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        div {
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
    </style>
</head>

<body>
    {% csrf_token %}
    Welcome {{e}}
    <div>
        <button type="button" onclick="location.href='{% url 'logout' %}'">Logout</button>
    </div>
    <br><br>
    <button type="button">Create Report</button>
    <button type="button">Check Report</button>

</body>
<script>

</script>

</html>